body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: url(/src/images/bg-intro-desktop.png) $Red;
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: 37.5rem){
        background: url(/src/images/bg-intro-mobile.png) $Red;
    }
}